.project{
    padding: 30px;
    margin: 10px;
    border-radius: 30px;
    box-shadow: 200px;
    display: grid;
    grid-gap: 10px;
    grid-template-rows: 3fr;
    justify-content: center;
   
    background: linear-gradient(90deg, var(--c1,#0c1a27 ), var(--c2, #b1b4b8) 51%, var(--c1, #1272d1)) var(--x, 0)/ 200%;
    box-shadow: 2px 2px 10px #246756;
}