 .header{

    padding: 30px;
    margin: 10px;
    border-radius: 30px;
    box-shadow: 200px;
    display: grid;
    grid-gap: 10px;
    grid-template-rows: 3fr;
    justify-content: center;
    background: linear-gradient(90deg, var(--c1, #dfae0c), var(--c2, #fda085) 51%, var(--c1, #f6d365)) var(--x, 0)/ 200%;
    box-shadow: 2px 2px 10px #246756;
}
.rotate:hover {
	transform: rotateY(360deg);
	

	transform-origin: center;

	-webkit-transform-origin: center;
	transition: 5.0s ease;
	-moz-transition: 5.0s ease;

}
