.contactSection{
    padding: 30px;
    margin: 10px;
    border-radius: 30px;
    box-shadow: 200px;
    display: grid;
    grid-gap: 10px;
    grid-template-rows: 3fr;
    justify-content: center;
    background-color: #464e55;
    box-shadow: 2px 2px 10px #246756;
}



.form-control
{
    display:inline;
    width:200px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    
}
.btnSend{
    display: grid;
    justify-content: start;
    padding-top: 4px;
}
form{position:relative;}

